{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Книга</h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ book.id }}</td>
                </tr>
                <tr>
                    <th>Название</th>
                    <td>{{ book.title }}</td>
                </tr>
                <tr>
                    <th>Год написания</th>
                    <td>{{ book.year }}</td>
                </tr>
                <tr>
                    <th>Автор</th>
                    <td>{{ book.author }}</td>
                </tr>
                <tr>
                    <th>Описание</th>
                    <td>{{ book.description }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <a href="{{ path('book_index') }}" class="btn btn-default btn-form">Назад к списку</a>

        <a href="{{ path('book_edit', {'id': book.id}) }}" class="btn btn-default btn-form">Редактировать</a>
    </div>
{% endblock %}
